@media only screen  and (max-width: 800px) {



  .header {
    
    width: 80%;
    
    flex-direction: column;
    justify-content: space-between;
    
  }

  .programmer {
    width: 30%;
  }

  .programmer img {
    width: 100%;
  }

  .header .site-question {
    font-size: 30px;
    line-height: 1;
    color: #64ffda;
  }

  .header .site-title {
    font-size: 35px;
    display: block;
    line-height: 1;
    color: #fff;
  }

  .header .site-title {
    margin: 0;
    font-size: 5rem;
  }

  .header .site-description {
    display: block;
    line-height: 1;
    color: #e2e2e2;
    margin-top: 10px;
    font-size: 60px
  }

  .header-icons {
    justify-content: center;
    text-align: center
  }

  .header-icons img {
    width: 25%;
  }

  .resumeClass {
    background-color: transparent;
    padding: 10px 15px;
    color: white;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #64ffda;
    text-decoration: none;
  }

  .resumeClass:hover {
    color: rgb(159, 159, 159);
    background-color: transparent;
  }

  .resumeButton {
    height: 10px;
    width: 5px;
  }

  /* header section ending here */

  /* about me section start here */

  #about {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 130px;
  }

  section h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 700;
  }

  .user-details {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
  }

  .user-details picture {
    /* border: 1px solid red; */
    text-align: right;
    /* width: 45%; */
  }

  .user-details picture img {
    width: 50%;
    border: 5px solid #64ffda;
    margin-right: 40px;
  }

  .user-details picture img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }

  .user-details p {
    /* border: 1px solid red; */
    /* width: 45%; */
    color: white;
    font-size: 18px;
  }

  /* about section is ending here */

  /* skills section start here */
  #skills {
    padding-top: 50px;
    padding-bottom: 130px;
  }

  .user-skills {
    text-align: center;
    font-size: 60px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid red; */

  }

  .user-skills .skills-card {
    width: 21%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 13px 0;
    padding: 10px;
    cursor: pointer;
  }

  .user-skills .skills-card .skills-card-img {
    width: 50%;
  }

  .user-skills .skills-card:hover .skills-card-img {
    transition: .3s ease-in-out;
    width: 40%;
  }

  .user-skills .skills-card .skills-card-name {
    font-size: 22px;
    font-weight: 500;
    color: white;
    margin: 0;
    padding: 5px;
  }



  /* contact form css here  */

  #form {
    max-width: 450px;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    background: #f5f5f5;
    padding: 40px 20px;
    border-radius: 20px;
  }

  #contact {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 130px;
  }

  #form input {
    height: 50px;
    width: 400px;
    background: transparent;
    margin: 10px auto;
    font-size: 18px;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
  }

  #form #message {
    height: 230px;
    word-wrap: break-word;

  }

  #form input[type=button] {
    cursor: pointer;
    background: #0c326c;
    color: white;
    font-size: 20px;
  }

  #form input[type=button]:hover {
    transition: .5s ease-in-out;
    background: #294b7d;
  }

  .flex-div {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .contact-icon {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .contact-icon img {
    width: 100%;
    cursor: pointer;
  }

  .contact-icon img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }




}